a {
    white-space: nowrap;
}

aside {
    width: 120px;
}

.is-active {
    width: 106px;
    height: 48px;
    left: 17px;
    top: 233px;
    text-align: center;
    background: #FEFEFE;
    border-top: 1px solid #353131;
    border-left: 1px solid #353131;
    border-bottom: 1px solid #353131;
    border-right: 2px solid #FEFEFE;
    border-radius: 30px 0 0 30px;
    margin: 20px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

}


a button {
    overflow: hidden;
    text-overflow: ellipsis;
}

.inactive {
    width: 100px;
    height: 25px;
    background: #FEFEFE;
    text-align: center;
    border: 1px solid #353131;
    border-radius: 20px 0 0 20px;
    margin: 20px 0;
}

.button-trails {
    padding: 4px 10px;
    background: #FFF9F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 34px 0 0 26px;
}